# rosparam 사용 시 클래스 내에서 파라미터를 받는 변수 타입과 일치하는 값을 적어주어야 함
# ex) int : 3, float : 3.0
# 파라미터 순서랑 클래스 내에서 파라미터 변수 선언할 때 순서랑 맞춰줄 것?

Public:
  map: "/map/kiapi.json"
  lidar_frame: "hesai_lidar"
  target_frame: "ego_car"
  world_frame: "world"

Cloud_Segmentation:
  lidar_settings:
    V_SCAN: 128 # Pandar 64 or OT 128
    H_SCAN: 1800
    ang_res_x: 0.2 # Calculated as 360.0 / H_SCAN
    ang_res_y: 0.3125 # Calculated as 40.0 / V_SCAN
    ang_bottom: 25

  downsampling:
    leaf_size:
      x: 0.2
      y: 0.2
      z: 0.2

  clustering:
    filter:
      min_size:
        x: 0.2
        y: 0.2
        z: 0.2
      max_size:
        x: 6.0
        y: 6.0
        z: 3.0
    adaptive:
      min_size: 10
      max_size: 2000
      min_tolerance: 0.8
      max_tolerance: 1.5
      max_region_distance: 100
      number_region: 10
      min_leaf_size: 0.2
      max_leaf_size: 0.4
      thresh_iou: 0.3
    L_shape_fitting:
      projection_range: 0.2

  crop:
    max:
      x: 110.0
      y: 20.0
      z: 2.5
    min:
      x: -80.0
      y: -35.0
      z: -1.4
    crop_ring:
      enabled: false
      ring: 2
    crop_intensity:
      enabled: false
      intensity: 10.0
    crop_hd_map:
      radius: 5.0

Tracking:
  integration:
    mode: 0 # 0: integration, 1: cluster, 2: deep
    thresh_iou: 0.1
  crop_hd_map:
    number_front_node: 200
    number_back_node: 200
    radius: 5.0
  track:
    invisibleCnt: 20
    deque:
      number_velocity: 3
      number_orientation: 10
      thresh_velocity: 30.0 # m/s
      thresh_orientation: 30.0 # degree

Mission:
  tracking:
    cluster_distance: 65 # 클러스터 사용 시작 거리
    # ground_removal_distance 내에 있는 크기 cluster_ratio, 비율 cluster_ratio 이내 클러스터 삭제
    ground_removal_distance: 50 # 경사로 지면 제거용
    cluster_size: 0.4
    cluster_ratio: 0.1
    # deep_distacne 내 deep_box는 deep_score 이상만 사용
    deep_distance: 30
    deep_score: 0.1 # 0.55
    